<div class="h1-style">Unsere Partner</div>

 <div id="partner">
     <div class="h2-style">Schulen</div>
     <a href="http://www.igs-kastellstrasse.de/" title="IGS Kastellstraße"><img src="img/partner/IGS%20Logo%20Farbe.png" alt="IGS Kastellstraße"></a>
     <a href="http://www.helene-lange-schule.de/" title="Helene-Lange-Schule"><img src="img/partner/Hela%20Farbe.png" alt="Helene Lange Schule"></a>
     <a href="http://www.bluecherschule.de" title="Blücherschule"><img src="img/partner/bluecherschule.jpeg" alt="Blücherschule"></a>
     <a href="http://www.riederbergschule-wiesbaden.de/" title="Riederbergschule"><img src="img/partner/riederbergschule.jpg" alt="Riederbergschule"></a>
     <a href="https://mss-dichterviertel.com/" title="Mittelstufenschule Dichterviertel"><img src=" img/partner/mss.png" alt="Mittelstufenschule Dichterviertel"></a>

     <div class="h2-style">Vereine</div>

     <a href="http://equipe-wiesbaden.de/" title="Equipe Wiesbaden Radsportverein 2011 e.V."><img src="img/partner/equipe.png" alt="Equipe Wiesbaden Radsportverein 2011 e.V."></a>
     <a href="http://www.adfc-wiesbaden.de" title="ADFC Wiesbaden"><img src="img/partner/logo_adfc.gif" alt="ADFC Wiesbaden"></a>
     <a href="http://www.rsb-nassau.de/" title="Radsportbezirk Nassau"><img src="img/partner/RCB%20Logo.png" alt="Radsportbezirk Nassau"></a>
     <a href="http://www.mrsv.de/" title="Mainzer Radsportverein e.V."><img src="img/partner/MRV%20Logo%20Farbe.png" alt="Mainzer Radsportverein e.V."></a>
     <a href="http://www.dimb.de/" title="Deutsche Initiative Mountain Bike e.V."><img src="img/partner/DIMB_Logo_Text.png" alt="Deutsche Initiative Mountain Bike e.V."></a>

     <div class="h2-style">Fahrradläden</div>
     <a href="http://www.allmountains-wiesbaden.de/index.html" title="Allmountains"><img src="img/partner/aw_logo.png" alt="Allmountains"></a>
     <a href="http://www.frame-factory.de/" title="Frame Factory"><img src="img/partner/framefactory.png" alt="Frame Factory"></a>

     <div class="h2-style">Weitere</div>
     <a href="http://www.fit-und-geschickt.com" title="Fit & Geschickt"><img src=" img/partner/Banner%20Fit.jpg" alt="Fit & Geschickt"></a>
     <a href="http://www.evolushen.de/" title="Evolushen"><img src="img/partner/evolushen0.jpg" alt="Evolushen"></a>
     <a href="http://www.tanzlaune.de/" title="Tanzlaune"><img src="img/partner/906333_600702993273050_872090972_o.jpg" alt="Tanzlaune"></a>
     <a href="http://de.makrolog.de/" title="Makrolog Content Management AG"><img src="img/partner/makrolog.png" alt="Makrolog Content Management AG"></a>
     <a href="https://verkehrswendewiesbaden.wordpress.com/" title="Verkehrswende Wiesbaden"><img src="img/partner/Verkehrswende-Wiesbaden.png" alt="Verkehrswende Wiesbaden"></a>
     <a href="http://www.hessen-radsport.de/" title="Hessen Radsport"><img src="img/partner/hessen-radsport.png" alt="Hessen Radsport"></a>
 </div>
 