<h1>Unsere Partner</h1>

 <div id="partner">
     <h2>Schulen</h2>
     <a href="http://www.igs-kastellstrasse.de/"><img src=" {{ $.Site.BaseURL }}img/partner/IGS%20Logo%20Farbe.png"></a>
     <a href="http://helene-lange-schule.templ2.evision.net"><img src=" {{ $.Site.BaseURL }}img/partner/Hela%20Farbe.png"></a>
     <a href="http://www.bluecherschule.de"><img src=" {{ $.Site.BaseURL }}img/partner/bluecherschule.jpeg"></a>
     <a href="http://www.eschenbach-schule.de/eschenbach-schule/Willkommen.html"><img src=" {{ $.Site.BaseURL }}img/partner/Logo-WvE-NEU-Mittelgross.png"></a>
     <a href="http://www.riederbergschule-wiesbaden.de/"><img src=" {{ $.Site.BaseURL }}img/partner/riederbergschule.jpg"></a>

     <h2>Vereine</h2>
     <a href="http://www.rsc-wiesbaden.com/"><img src=" {{ $.Site.BaseURL }}img/partner/RSC%20Logo_neu.jpg"></a>
     <a href="http://www.rcbierstadt.de"><img src=" {{ $.Site.BaseURL }}img/partner/RCB%20Logo%20Farbe.png"></a>
     <a href="http://www.adfc-wiesbaden.de"><img src=" {{ $.Site.BaseURL }}img/partner/logo_adfc.gif"></a>
     <a href="http://www.rsb-nassau.de/"><img src=" {{ $.Site.BaseURL }}img/partner/RCB%20Logo.png"></a>
     <a href="http://www.mrsv.de/"><img src=" {{ $.Site.BaseURL }}img/partner/MRV%20Logo%20Farbe.png"></a>
     <a href="http://www.dimb.de/"><img src=" {{ $.Site.BaseURL }}img/partner/DIMB_Logo_Text.png"></a>

     <h2>Fahrradläden</h2>
     <a href="http://www.allmountains-wiesbaden.de/index.html"><img src=" {{ $.Site.BaseURL }}img/partner/aw_logo.png"></a>
     <a href="http://www.radsport-ratay.de/"><img src=" {{ $.Site.BaseURL }}img/partner/7c64687721e1aa4d2300d0bd844d77cf.jpg"></a>
     <a href="http://www.frame-factory.de/"><img src=" {{ $.Site.BaseURL }}img/partner/framefactory.png"></a>

     <h2>Sonstige</h2>
     <a href="http://www.fit-und-geschickt.com"><img src=" {{ $.Site.BaseURL }}img/partner/Banner%20Fit.jpg"></a>
     <a href="http://www.evolushen.de/"><img src=" {{ $.Site.BaseURL }}img/partner/evolushen0.jpg"></a>
     <a href="http://www.tanzlaune.de/"><img src=" {{ $.Site.BaseURL }}img/partner/906333_600702993273050_872090972_o.jpg"></a>
     <a href="http://de.makrolog.de/"><img src=" {{ $.Site.BaseURL }}img/partner/makrolog.png"></a>
     <a href="https://verkehrswendewiesbaden.wordpress.com/"><img src=" {{ $.Site.BaseURL }}img/partner/Verkehrswende-Wiesbaden.png"></a>
     <a href="http://www.hessen-radsport.de/"><img src=" {{ $.Site.BaseURL }}img/partner/hessen-radsport.png"></a>
 </div>
 